Agenda
1.Numeros
2.Variables
3.Manejo de cadenas
4.Ingreso por el teclado
5.Operadoress

5. Operadores

In [2]:
#5.1 operadores aritmeticos

In [3]:
numero1 = 10
numero2 = 13
suma = numero1 + numero2
resta = numero1 - numero2
multi = numero1 * numero2
div = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multi)
print(div)
print(residuo)
print(cociente)
print(potencia)

23
-3
130
0.7692307692307693
10
0
10000000000000

In [4]:
# 5.2 Operadores de asignación
numero = 12
numero = numero + 3
print(numero)

15

In [5]:
numero = 7
numero += 78
print(numero)

85

In [6]:
numero = 4
numero = numero ** 3
print(numero)

64

In [7]:
# 5.3 Operadores de comparación

In [8]:
# Ejemplo de igualdad ==
numero1 = 6
numero2 = 7
numero1 == numero2

False

In [9]:
# Con las cadenas funciona igual
nombre1 = "Maria"
nombre2 = "Maria"
nombre1 == nombre2

True

In [10]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 3
numero2 = 4
numero3 = 5
numero4 = 6

In [11]:
numero1 < numero3

True

In [12]:
# El not invierte el resultado
not(numero1<numero2)

False

In [13]:
#ejemplo:

In [14]:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [15]:
# ¿Diego está en aula?
alumno1 in aula

False

In [16]:
# ¿Juan está en aula?
alumno2 in aula

True

In [17]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [18]:
aula1 = ["Maria", "Alvaro", "Rubi"]
aula2 = ["Maria", "Alvaro", "Rubi"]
# A continuación vamos a indicar que aula3 va a
# compartir el mismo objeto que aula1
aula3 = aula1

In [19]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True